<template>
  <div class="container">
    <h1>Tarot cards</h1>
    <div class="row justify-content-center">
      <div class="cards col-md-auto" v-for="card in cards" :key="card._id">
        <router-link :to="'/cards/' + card._id">
          <p>{{ card.name }}</p>
          <img :src="card.image" alt />
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
// IMPORT SERVICE
import CardsService from "@/services/CardsService";
//
export default {
  // COMPONENT NAME
  name: "cards",
  // NECESSARY DATA
  data() {
    return {
      cards: []
    };
  },
  // RUN WHEN APP IS MOUNTED
  mounted() {
    this.getCards();
  },
  methods: {
    async getCards() {
      const response = await CardsService.fetchCards();
      this.cards = response.data;
    }
  }
};
</script>

<style scoped>
.container {
  padding: 20px 20px 50;
  margin: 20px auto 50px;
  background: rgb(43, 35, 46);
  color: rgb(156, 145, 161);
  box-shadow: 0 10px 6px -6px rgba(6, 4, 9, 0.897);
  border: 1px solid rgba(6, 4, 9, 0.329);
}
.container h1 {
  color: rgb(156, 145, 161);
  margin: 50px auto;
}
.cards a {
  font-size: 20px;
  color: rgb(156, 145, 161);
  transition-property: color;
  transition-duration: 400ms;
}
.cards a:hover {
  text-decoration: none;
  color: #c89449;
  transition-property: color;
  transition-duration: 400ms;
}
.cards img {
  max-height: 300px;
  margin-bottom: 50px;
}
</style>