<template>
  <div class="container">
    <div class="card border-dark">
      <h1 class="card-header">{{ card.data.name }}</h1>
      <div class="card-body">
        <p>{{ card.data.meaning.general }}</p>
        <img :src="card.data.image" alt />

        <h2>Positions</h2>

        <h3>Self</h3>
        <p>{{ card.data.meaning.self }}</p>

        <h3>Challenge</h3>
        <p>{{ card.data.meaning.challenge }}</p>

        <h3>Conscious</h3>
        <p>{{ card.data.meaning.conscious }}</p>

        <h3>Unconscious</h3>
        <p>{{ card.data.meaning.unsconscious }}</p>

        <h3>Past</h3>
        <p>{{ card.data.meaning.past }}</p>

        <h3>Future</h3>
        <p>{{ card.data.meaning.future }}</p>

        <h3>Inner</h3>
        <p>{{ card.data.meaning.inner }}</p>

        <h3>Outer</h3>
        <p>{{ card.data.meaning.outer }}</p>

        <h3>Hopes and Fears</h3>
        <p>{{ card.data.meaning.fear }}</p>

        <h3>Possible Outcome</h3>
        <p>{{ card.data.meaning.outcome }}</p>
      </div>
    </div>
  </div>
</template>

<script>
// IMPORT SERVICE
import CardsService from "@/services/CardsService";
//
export default {
  // COMPONENT NAME
  name: "SingleCard",
  // NECESSARY DATA
  data() {
    return {
      id: this.$route.params.id,
      card: []
    };
  },
  // RUN WHEN APP IS MOUNTED
  mounted() {
    this.getCardById();
  },
  methods: {
    async getCardById() {
      const data = await CardsService.fetchCard(this.$route.params.id);
      console.log(data);
      this.card = data;
    }
  }
};
</script>

<style scoped>
.card {
  background: rgb(43, 35, 46);
  color: rgb(156, 145, 161);
  margin-bottom: 50px;
  box-shadow: 0 10px 6px -6px rgba(6, 4, 9, 0.897);
}

.card p {
  text-align: center;
  text-align: justify;
  margin: 30px 20px;
}
.card h1 {
  color: rgb(175, 80, 12);
}
.card h2 {
  margin: 30px auto;
  color: rgb(175, 80, 12);
}
img {
  max-width: 75vw;
}
</style>