<template>
  <div class="container">
    <font-awesome-icon v-if="this.dice == 1" icon="dice-one" size="9x" />
    <font-awesome-icon v-if="this.dice == 2" icon="dice-two" size="9x" />
    <font-awesome-icon v-if="this.dice == 3" icon="dice-three" size="9x" />
    <font-awesome-icon v-if="this.dice == 4" icon="dice-four" size="9x" />
    <font-awesome-icon v-if="this.dice == 5" icon="dice-five" size="9x" />
    <font-awesome-icon v-if="this.dice == 6" icon="dice-six" size="9x" />
    <h1>{{ dice }}</h1>
  </div>
</template>

<script>
// IMPORT SERVICE
import DiceService from "@/services/DiceService";
//
export default {
  // COMPONENT NAME
  name: "Dice",
  // NECESSARY DATA
  data() {
    return {
      dice: ""
    };
  },
  // RUN WHEN APP IS MOUNTED
  mounted() {
    this.spinDice();
  },
  methods: {
    async spinDice() {
      const response = await DiceService.sixDice();
      this.dice = response.data;
    }
  }
};
</script>

<style scoped>
</style>