<template>
  <div class="container">
    <div class="menu row justify-content-around">
      <h1>Decouvrez votre sort</h1>
      <div class="w-100"></div>
      <router-link to="/tirage">
        <font-awesome-icon icon="hat-wizard" size="6x" />
        <p>Tirage</p>
      </router-link>
      <router-link to="/de">
        <font-awesome-icon icon="dice" size="6x" />
        <p>Dé magique</p>
      </router-link>
    </div>
    <div class="menu row justify-content-around">
      <h1>Aprennez la divination</h1>
      <div class="w-100"></div>
      <router-link to="/cards">
        <font-awesome-icon icon="list-ul" size="6x" />
        <p>Le tarot</p>
      </router-link>
      <router-link to="/votretirage">
        <font-awesome-icon icon="eye" size="6x" />
        <p>Les tirages</p>
      </router-link>
      <router-link to="/blog">
        <font-awesome-icon icon="book-open" size="6x" />
        <p>Blog</p>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {}
};
</script>

<style scoped>
.menu {
  margin: 50px 10px;
  padding: 20px 20px;
  background: rgb(43, 35, 46);
  box-shadow: 0 10px 6px -6px rgba(6, 4, 9, 0.897);
}

.menu a {
  color: rgb(156, 145, 161);
  transition-property: color;
  transition-duration: 400ms;
}

.menu a:hover {
  color: rgb(175, 80, 12);
  transition-property: color;
  transition-duration: 400ms;
  text-decoration: none;
}

.menu p {
  margin: 20px;
}
.menu h1 {
  color: rgb(156, 145, 161);
  margin: 15px auto 50px;
}
</style>
