<template>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col">
        <font-awesome-icon icon="dizzy" size="9x" />
        <h1>We are sorry</h1>
        <p>but his page doesn't exist</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.container-fluid {
  margin-top: 20vh;
  margin-bottom: 50px;
  color: rgb(6, 4, 9);
}
</style>