<template>
  <div class="cards container">
    <div class="row card-deck">
      <div id="self" class="card border-dark mb-3">
        <h2 class="card-header">Yourself</h2>
        <div class="card-body">
          <h4 class="card-title">{{ cards[0].name }}</h4>
          <p class="card-text">{{ cards[0].meaning.self }}</p>
          <img :src="cards[0].image" alt />
        </div>
      </div>
      <div id="challenge" class="card border-dark mb-3">
        <h2 class="card-header">Your challenge</h2>
        <div class="card-body">
          <h4 class="card-title">{{ cards[1].name }}</h4>
          <p class="card-text">{{ cards[1].meaning.challenge }}</p>
          <img :src="cards[1].image" alt />
        </div>
      </div>
    </div>
    <div class="row card-deck">
      <div alt="past" class="card border-dark mb-3">
        <h2 class="card-header">The Past</h2>
        <div class="card-body">
          <h4 class="card-title">{{ cards[2].name }}</h4>
          <p class="card-text">{{ cards[2].meaning.past }}</p>
          <img :src="cards[2].image" alt />
        </div>
      </div>
      <div id="future" class="card border-dark mb-3">
        <h2 class="card-header">The Future</h2>
        <div class="card-body">
          <h4 class="card-title">{{ cards[3].name }}</h4>
          <p class="card-text">{{ cards[3].meaning.future }}</p>
          <img :src="cards[3].image" alt />
        </div>
      </div>
    </div>
    <div class="row card-deck">
      <div id="conscious" class="card border-dark mb-3">
        <h2 class="card-header">Your conscious self</h2>
        <div class="card-body">
          <h4 class="card-title">{{ cards[4].name }}</h4>
          <p class="card-text">{{ cards[4].meaning.conscious }}</p>
          <img :src="cards[4].image" alt />
        </div>
      </div>
      <div id="unconscious" class="card border-dark mb-3">
        <h2 class="card-header">Your unconscious</h2>
        <div class="card-body">
          <h4 class="card-title">{{ cards[5].name }}</h4>
          <p class="card-text">{{ cards[5].meaning.unconscious }}</p>
          <img :src="cards[5].image" alt />
        </div>
      </div>
    </div>
    <div class="row card-deck">
      <div id="your-influence" class="card border-dark mb-3">
        <h2 class="card-header">Your influence</h2>
        <div class="card-body">
          <h4 class="card-title">{{ cards[6].name }}</h4>
          <p class="card-text">{{ cards[6].meaning.inner }}</p>
          <img :src="cards[6].image" alt />
        </div>
      </div>
      <div id="others-influence" class="card border-dark mb-3">
        <h2 class="card-header">Outside influence</h2>
        <div class="card-body">
          <h4 class="card-title">{{ cards[7].name }}</h4>
          <p class="card-text">{{ cards[7].meaning.outer }}</p>
          <img :src="cards[7].image" alt />
        </div>
      </div>
    </div>
    <div class="row card-deck">
      <div id="hopes-fears" class="card border-dark mb-3">
        <h2 class="card-header">Your hopes and fears</h2>
        <div class="card-body">
          <h4 class="card-title">{{ cards[8].name }}</h4>
          <p class="card-text">{{ cards[8].meaning.fear }}</p>
          <img :src="cards[8].image" alt />
        </div>
      </div>
      <div id="outcome" class="card border-dark mb-3">
        <h2 class="card-header">The possible outcome</h2>
        <div class="card-body">
          <h4 class="card-title">{{ cards[9].name }}</h4>
          <p class="card-text">{{ cards[9].meaning.outcome }}</p>
          <img :src="cards[9].image" alt />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// IMPORT SERVICE
import CardsService from "@/services/CardsService";
//
export default {
  // COMPONENT NAME
  name: "TirageRandom",
  // NECESSARY DATA
  data() {
    return {
      cards: []
    };
  },
  // RUN WHEN APP IS MOUNTED
  mounted() {
    this.getRandomCards();
  },
  methods: {
    async getRandomCards() {
      const response = await CardsService.tirageRandom();
      this.cards = response.data;
    }
  }
};
</script>

<style scoped>
.cards {
  padding-bottom: 50px;
}
img {
  max-height: 200px;
  display: block;
  margin: auto;
}
p {
  text-align: justify;
}
.card {
  box-shadow: 0 10px 6px -6px rgba(6, 4, 9, 0.897);
}
.card-header {
  background: rgb(6, 4, 9);
  color: rgb(156, 145, 161);
}
.card-body {
  background: rgb(43, 35, 46);
}
.card-text,
.card-title {
  color: rgb(156, 145, 161);
}
</style>