<template>
  <!-- <img src="../assets/celticcross.png" alt /> -->
  <div class="container">
    <h2>Choose your cards</h2>
    <div class="row">
      <div id="self" class="col-sm">
        <self></self>
      </div>
      <div id="challenge" class="col-sm">
        <challenge></challenge>
      </div>
    </div>
    <div class="row">
      <div id="past" class="col-sm">
        <past></past>
      </div>
      <div id="future" class="col-sm">
        <future></future>
      </div>
    </div>
    <div class="row">
      <div id="conscious" class="col-sm">
        <conscious></conscious>
      </div>
      <div id="unconscious" class="col-sm">
        <unconscious></unconscious>
      </div>
    </div>
    <div class="row">
      <div id="inner" class="col-sm">
        <inner></inner>
      </div>
      <div id="outer" class="col-sm">
        <outer></outer>
      </div>
    </div>
    <div class="row">
      <div id="fears" class="col-sm">
        <fears></fears>
      </div>
      <div id="outcome" class="col-sm">
        <outcome></outcome>
      </div>
    </div>
  </div>
</template>

<script>
//
// import CardsService from "@/services/CardsService";
import self from "../components/filteredCards/self";
import challenge from "../components/filteredCards/challenge";
import past from "../components/filteredCards/past";
import future from "../components/filteredCards/future";
import conscious from "../components/filteredCards/conscious";
import unconscious from "../components/filteredCards/unconscious";
import inner from "../components/filteredCards/inner";
import outer from "../components/filteredCards/outer";
import fears from "../components/filteredCards/fears";
import outcome from "../components/filteredCards/outcome";
//
export default {
  name: "VotreTirage",
  components: {
    self,
    challenge,
    past,
    future,
    conscious,
    unconscious,
    inner,
    outer,
    fears,
    outcome
  }
};
</script>

<style scoped>
.card ul {
  list-style: none;
}
</style>