<template>
  <div class="card border-primary mb-3">
    <h2 class="card-header text-white bg-primary">Outside influences</h2>
    <div class="card-body">
      <!-------------------------------------------------->
      <input
        type="text"
        placeholder="Search a card"
        autocomplete="off"
        v-model="name"
        @input="searchName"
      />
      <button class="btn btn-primary" type="button" @click="searchName">Search</button>
      <!-------------------------------------------------->
      <ul v-if="name !='' ">
        <li
          :class="{ active: index == currentIndex }"
          v-for="(card, index) in cards"
          :key="index"
          @click="setActiveCard(card, index)"
        >{{ card.name }}</li>
      </ul>
      <!-------------------------------------------------->
      <div v-if="currentCard">
        <h4 class="card-title">{{ currentCard.name }}</h4>
        <img :src="currentCard.image" alt />
        <p class="card-text">{{ currentCard.meaning.outer }}</p>
      </div>
      <div v-else>
        <p>Choose your card</p>
      </div>
      <!-------------------------------------------------->
    </div>
  </div>
</template>
  <script>
//
import CardsService from "@/services/CardsService";
//
export default {
  name: "outer",
  data() {
    return {
      cards: [],
      currentCard: null,
      currentIndex: -1,
      name: ""
    };
  },
  mounted() {
    this.getCards();
  },
  methods: {
    getCards() {
      CardsService.fetchCards()
        .then(response => {
          this.cards = response.data;
        })
        .catch(e => {
          console.log(e);
        });
    },
    refreshList() {
      this.getCards();
      this.currentCard = null;
      this.currentIndex = -1;
    },
    setActiveCard(card, index) {
      this.currentCard = card;
      this.currentIndex = index;
    },
    searchName() {
      CardsService.findByName(this.name)
        .then(response => {
          this.cards = response.data;
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>

<style scoped>
h4 {
  margin-top: 20px;
}

.card-text {
  text-align: justify;
  margin: 20px 5px;
}

img {
  max-height: 300px;
}

.card ul {
  list-style: none;
  margin: 10px auto;
  text-align: left;
}
</style>