<template>
  <div class="container">
    <h1>BLOG</h1>
    <div class="posts" v-for="post in posts" :key="post._id">
      <h2>{{ post.title }}</h2>
      <p>{{ post.body.slice(0, 200) }}...</p>
      <router-link :to="'/post/' + post._id">Read More</router-link>
    </div>
  </div>
</template>

<script>
// IMPORT DU SERVICE
import BlogService from "@/services/BlogService";
//
export default {
  // COMPONENT NAME
  name: "Blog",
  // NECESSARY DATA
  data() {
    return {
      posts: []
    };
  },
  // RUN WHEN APP IS MOUNTED
  mounted() {
    this.getPosts();
  },
  methods: {
    async getPosts() {
      const response = await BlogService.fetchPosts();
      this.posts = response.data;
    }
  }
};
</script>

<style scoped>
.container {
  margin-bottom: 50px;
}
h1 {
  color: rgb(43, 35, 46);
}
.posts {
  margin: 15px 5px;
  padding: 20px 20px;
  background: rgb(43, 35, 46);
  color: rgb(156, 145, 161);
  box-shadow: 0 10px 6px -6px rgba(6, 4, 9, 0.897);
}
.posts p {
  text-align: justify;
}
.posts a {
  color: #c89449;
  transition-property: color;
  transition-duration: 400ms;
}

.posts a:hover {
  color: rgb(175, 80, 12);
  transition-property: color;
  transition-duration: 400ms;
  text-decoration: none;
}
</style>