<template>
  <div class="container">
    <div class="post">
      <h1>{{ post.data.title }}</h1>
      <p>{{ post.data.body }}</p>
    </div>
  </div>
</template>

<script>
// IMPORT SERVICE
import BlogService from "@/services/BlogService";
//
export default {
  // COMPONENT NAME
  name: "SinglePost",
  // NECESSARY DATA
  data() {
    return {
      id: this.$route.params.id,
      post: []
    };
  },
  // RUN WHEN APP IS MOUNTED
  mounted() {
    this.getPostById();
  },
  methods: {
    async getPostById() {
      const data = await BlogService.fetchPost(this.$route.params.id);
      this.post = data;
    }
  }
};
</script>

<style scoped>
.post {
  margin: 20px auto 50px;
  padding: 20px 30px;
  background: rgb(43, 35, 46);
  color: rgb(156, 145, 161);
  box-shadow: 0 10px 6px -6px rgba(6, 4, 9, 0.897);
}
.post p {
  text-align: justify;
  margin: 30px 10px;
}
.post h1 {
  color: #c89449;
}
</style>