<template>
  <div id="app" class="container-fluid">
    <nav id="nav" class="row justify-content-center">
      |
      <router-link to="/">Home</router-link>|
      <font-awesome-icon icon="star" />|
      <router-link to="/tirage">Tirage</router-link>|
      <font-awesome-icon icon="star" />|
      <router-link to="/de">De Magique</router-link>|
      <font-awesome-icon icon="star" />|
      <router-link to="/cards">Cards</router-link>|
      <font-awesome-icon icon="star" />|
      <router-link to="/votretirage">Votre Tirage</router-link>|
      <font-awesome-icon icon="star" />|
      <router-link to="/blog">Blog</router-link>|
    </nav>
    <router-view />
    <footer class="fixed-bottom">
      <small>footer</small>
    </footer>
  </div>
</template>

<script>
export default {};
</script>

<style>
body {
  min-height: 100vh;
  grid-template-rows: 1fr auto;
  background-image: linear-gradient(
    to top,
    #2b232e,
    #453c48,
    #615765,
    #7e7382,
    #9c91a1
  );
}

#app {
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgb(6, 4, 9);
}

#nav {
  background-color: rgba(6, 4, 9, 0.897);
  padding: 25px;
  position: sticky;
  top: 0px;
  z-index: 10;
  margin-bottom: 30px;
  color: #9c91a1a9;
}

#nav a {
  color: #9c91a1;
  text-decoration: none;
  transition-property: color;
  transition-duration: 400ms;
}

#nav a:hover {
  color: rgb(175, 80, 12);
  transition-property: color;
  transition-duration: 400ms;
}

#nav a.router-link-exact-active {
  color: rgb(175, 80, 12);
}

footer {
  background-color: rgba(6, 4, 9, 0.719);
  color: #9c91a1;
}
</style>
